@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="align-items:center">
    <h1>Rent a Car</h1>
    <p class="lead"><h2>Number 1 in the Market</h2></p>
  
</div>

<div class="row">
    <div class="col-md-4">
       

             <div>
                                 <img src="http://www.ixrental.com/wp-content/uploads/2013/03/ixtopcarsimg1-1024x221.png">
               
            </div>
      
   </div>

    <div class="col-md-4">
        
    </div>



    <div class="col-md-4">
       
    </div>
</div>